<center>
    <h1>
        <table border ='2'> 
            <tr>
                <td><a href="Crear_Pedido" class="btn" type="submit">Crear Pedido</a></td>
                <td><a href="Ver_Pedido" class="btn" type="submit">Ver Pedidos</a></td>
            </tr>
            <tr>
                <td><a href="Actualizar_Pedido" class="button" type="submit">Actualizar Pedidos</a></td>
                <td><a href="Eliminar_Pedido" class="button" type="submit">Eliminar Pedidos</a></td>          
            </tr>
        </table>
    </h1>
</center>