<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <img src="./rocket.png" alt="rocket" class="rocket">
        <div class="text">
            <h1>Bienvenido</h1><br>
        </div>
        <form  class="form">
        </form>
        <a href="/iniciarSesion" class="button" type="submit">Ingresar</a><br>
		<a href="/formulario" class="button" type="submit">Crear Usuario</a>
    </div>
</body>
</html>